div.loginform {
    position: absolute;
    margin-top: 200px;
    background-color: #cccccc;
    width: 24%;
    left: 38%;
    border: 1px dotted;
}

td.right {
    text-align: right;
}

td.left {
    text-align: left;
}

td.center {
    text-align: center;
}

td.empty {
    font-size: 5pt;
}

tr.header {
    text-align: center;
    background-color: #aaaaaa;
}

tr.light {
    background-color: #eeeeee;
}

tr.dark {
    background-color: #cccccc;
}

div.error {
    position: absolute;
    margin-top: 200px;
    background-color: #cccccc;
    width: 40%;
    left: 30%;
    border: 1px solid red;
    text-align: center;
}

div.top {
    text-align: right;
    font-size: 8pt;
}

div.uploadform {
    position: absolute;
    margin-top: 200px;
    background-color: #cccccc;
    width: 30%;
    left: 35%;
    border: 1px solid;
}

div.optionsform {
    position: absolute;
    margin-top: 200px;
    background-color: #cccccc;
    width: 30%;
    left: 35%;
    border: 2px solid;
}

div.editform {
    position: absolute;
    margin-top: 200px;
    background-color: #cccccc;
    width: 30%;
    left: 35%;
    border: 1px solid;
}